package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.io.File;
import java.util.List;
import java.util.ArrayList;
import java.util.Map;
import java.io.OutputStream;

import ${package}.dao.${className}Dao;
import ${package}.model.${className};
import ${package}.model.base.${className}Entity;
import ${package}.service.${className}Service;
import com.xm.base.apply.DownLoadAndUpload;


@Service("${classname}Service")
public class ${className}ServiceImpl implements ${className}Service ,DownLoadAndUpload {
	@Autowired
	private ${className}Dao ${classname}Dao;
	
	@Override
	public ${className}Entity queryObject(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.queryObject(${pk.attrname});
	}
	
	@Override
	public List<${className}Entity> queryList(Map<String, Object> map){
	
		return ${classname}Dao.queryList(map);
	}
	
	private List<${className}> castEntity(List<${className}Entity> queryList ) {
		List<${className}> list = new ArrayList<${className}>();
		for (${className}Entity entity : queryList) {
			list.add(new ${className}(entity));
		}
		return list;
	}
	
	
	@Override
	public int queryTotal(Map<String, Object> map){
		return ${classname}Dao.queryTotal(map);
	}
	
	@Override
	public void save(${className}Entity ${classname}){
		${classname}Dao.save(${classname});
	}
	
	@Override
	public int update(${className}Entity ${classname}){
		return ${classname}Dao.update(${classname});
	}
	
	@Override
	public int delete(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.delete(${pk.attrname});
	}
	
	@Override
	public int deleteBatch(${pk.attrType}[] ${pk.attrname}s){
		return ${classname}Dao.deleteBatch(${pk.attrname}s);
	}
	

	
}
